/* src/styles/NotificationForm.css */
.notification-form {
  background-color: #252D3A;
  border-radius: 12px;
  padding: 40px;
  margin: 50px auto;
  max-width: 500px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  

}
.form-group {
  margin-bottom: 45px;  
}

.form-group label {
  display: block;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;  
}
.crypto-details {
  background-color: #1E2530;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.crypto-details p {
  margin: 12px 0;
  line-height: 2;
  color: #ffffff;
}

.input-group {
  margin-top: 35px;
  margin-bottom: 35px;  
}

.email-section, .phone-section {
  margin-top: 10px;    
  margin-bottom: 50px; 
}

.dropdown-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.notification-form h2 {
  color: #C99200;
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
}

.form-group {
  margin-bottom: 35px;
}

.form-group label {
  display: block;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 12px;
}

.form-group select,
.form-group input {
  width: 100%;
  padding: 14px;
  background-color: #1E2530;
  border: 1px solid #3D4555;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
}


